<!-- layouts/partials/_internal/staffers/staffer-single.html -->
<div class="staffer">
  {{ $imagePath := "" }}
  {{ if strings.HasPrefix .Params.photo "http://" }}
    {{ $imagePath = .Params.photo }}
  {{ else if strings.HasPrefix .Params.photo "https://" }}
    {{ $imagePath = .Params.photo }}
  {{ else if strings.HasPrefix .Params.photo "/" }}
    {{ $imagePath = .Params.photo | absURL }}
  {{ else }}
    {{ $imagePath = path.Join .File.Dir .Params.photo | absURL }}
  {{ end }}

  {{ if $imagePath }}
  <img class="staffer-image {{ $.Page.Parent.Params.imageShape }}" src="{{ $imagePath }}" alt="{{ .Params.name }}">
  {{ end }}

  {{ $displayName := .Params.name }}
  {{ if .Params.preferred }}
    {{ $displayName = printf "%s %s" .Params.preferred .Params.last }}
  {{ end }}

  <div>
    <h3 class="staffer-name" id="{{ $displayName | urlize }}">
      {{ if .Params.website }}
      <a href="{{ .Params.website }}">{{ $displayName }}</a>
      {{ else }}
      {{ $displayName }}
      {{ end }}
      {{ if .Params.pronouns }}
      <span class="staffer-pronouns">{{ .Params.pronouns }}</span>
      {{ end }}
    </h3>
    {{ with .Params.email }}
    <p class="staffer-email"><a href="mailto:{{ . }}">{{ . }}</a></p>
    {{ end }}
    {{ if .Params.languages }}
    <p class="staffer-languages">{{ .Params.languages }}</p>
    {{ end }}
    <hr/>
    {{ with .Params.meta }}
    <dl class="staffer-meta">
      {{ range $key, $value := . }}
      <dt class="staffer-property-name">{{ replace (title $key) "Cit" "CIT" 1 }}</dt>
      <dd>{{ $value | markdownify }}</dd>
      {{ end }}
    </dl>
    {{ end }}
    {{ .Content }}
  </div>
</div>
