{{ define "main" }}
    <div class="container">
        <h1>{{ .Title }}</h1>
        {{ if .Description }}
            <p>{{ .Description }}</p>
        {{ end }}
        {{ if .Content }}
        <div>
            {{ .Content }}
        </div>
        {{ end }}

        {{/* Directly display the markdown content of each module */}}
        {{ range sort .Pages "File.Path" }}
            <article class="module-content">
                <h2 class="fs-4" id="{{ .Title | urlize }}" >{{ .Title }}</h2>
                <div class="module">
                    {{ .Content }}
                </div>
            </article>
        {{ end }}
    </div>
{{ end }}
