{{ define "main" }}
  {{ partial "page-header" . }}
<div class="container" id="main-content" tabindex="-1">
  <h1>{{ .Title }}</h1>
  {{ if .Description }}
      <p>{{ .Description }}</p>
  {{ end }}
  {{ if .Content }}
  <div>
      {{ .Content }}
  </div>
  {{ end }}
  <div class="staffers">
    {{ $roleOrder := .Params.roleOrder }}
    {{ $allStaffers := where .Site.RegularPages "Section" "staffers" }}
    {{ $allGroups := $allStaffers.GroupByParam "role" }}
    
    {{ range $roleOrder }}
      {{ $group := where $allGroups "Key" "eq" . }}
      {{ if $group }}
        <h2>{{ . }}</h2>
        <div class="role-group">
          {{ $sortedPages := sort (index $group 0).Pages ".Params.last" }}
          {{ range $sortedPages }}
            {{ template "partials/staffers/staffer-single.html" . }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
