{{ define "main" }}
<div class="container">
  <h1>{{ .Title }}</h1>
  {{ if .Description }}
      <p>{{ .Description }}</p>
  {{ end }}
  {{ if .Content }}
  <div>
      {{ .Content }}
  </div>
  {{ end }}
  <div class="staffers">
    {{ $roleOrder := .Params.roleOrder }}
    {{ $allGroups := .Pages.GroupByParam "role" }}
    
    {{ range $roleOrder }}
      {{ $group := where $allGroups "Key" "eq" . }}
      {{ if $group }}
        <h2>{{ . }}</h2>
        <div class="role-group">
          {{ $sortedPages := sort (index $group 0).Pages ".Params.last" }}
          {{ range $sortedPages }}
            {{ template "partials/staffers/staffer-single.html" . }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
