{{ $current := .current }}
{{ template "menu-extra" dict "sect" .source "current" $current "site" $current.Site "target" .target }}

<!-- template -->
{{ define "menu-extra" }}
  {{ $current := .current }}
  {{ $site := .site }}
  {{ $target := .target }}
  {{ $sect := .sect }}

  {{ range sort (default (seq 0) $sect) "weight" }}
    {{ if isset . "ref" }}
      {{ $this := $site.GetPage .ref }}
      {{ $isCurrent := eq $current $this }}
      {{ $icon := default false .icon }}
      {{ $name := .name }}
      
      {{ if reflect.IsMap .name }}
        {{ $name = (index .name $site.Language.Lang) }}
      {{ end }}

      {{ if $icon }}
        {{ if or (or (hasSuffix (lower $icon) ".jpg") (hasSuffix (lower $icon) ".jpeg")) (hasSuffix (lower $icon) ".webp") (hasSuffix (lower $icon) ".png") (hasSuffix (lower $icon) ".ico") }}
          {{ if eq $target "header" }}
          <span>
            <a
              href="{{ if .external -}}
            {{ .ref }}
              {{- else -}}
            {{ relref $current .ref }}
              {{- end }}"
              class="gdoc-header__link"
            >
              <img src="{{ $icon }}" alt="{{ $name }}" class="gdoc-icon" height="32px" width="32px">
            </a>
          </span>
          {{ end }}
        {{ else }}
          {{ if eq $target "header" }}
            <span>
              <a
                href="{{ if .external -}}
                  {{ .ref }}
                {{- else -}}
                  {{ relref $current .ref }}
                {{- end }}"
                class="gdoc-header__link"
              >
                <svg class="gdoc-icon {{ .icon }}">
                  <title>{{ $name }}</title>
                  <use xlink:href="#{{ .icon }}"></use>
                </svg>
              </a>
            </span>
          {{ end }}
        {{ end }}
      {{ else }}
        <!-- Fallback for items without an icon -->
        {{ if eq $target "header" }}
          <!-- FIXME: BAD HACK (the style to align the text at the center) -->
          <span style="display: inline-flex; /* Makes the span a flex container */ align-items: center; /* Centers the text vertically */ justify-content: center; /* (Optional) Centers the text horizontally if needed */">
            <a
              href="{{ if .external -}}
                {{ .ref }}
              {{- else -}}
                {{ relref $current .ref }}
              {{- end }}"
              class="gdoc-header__link"
            >
              {{ $name }}
            </a>
          </span>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
